<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="/images/star.ico" type="image/x-icon">
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/demo.css' />
    <title>demo</title>
</head>
<body>
    <div class="nav">
        <div class="left">
            <div><img src="/images/star.jpg" /></div>
            <a href="/index">谜亚星的花园</a>
        </div>
        <div class="middle">
            <input type="text" placeholder="我还没有想好让你搜什么">
        </div>
    </div>
    <div class="aside">
        <ul>
            <li><a href="/index">首页</a></li>
            <li><a href="/demo">示例demo</a></li>
            <li><a href="/example">案例</a></li>
            <li><a href="/game">小游戏</a></li>
        </ul>
    </div>
    <div id="wrap"></div>
    <script src="/js/dataExample.js"></script>
    <script src="/js/demo.js"></script>
    <script>
        const img = new $Img({
            data,
            initType: '全部',
            parasitifer: '#wrap'
        });
    </script>
</body>
</html>