<!DOCTYPE html>
<html>

<head>
  <title>谜亚星的花园</title>
  <link rel="shortcut icon" href="/images/star.ico" type="image/x-icon">
  <link rel='stylesheet' href='/css/reset.css' />
  <link rel='stylesheet' href='/css/indexstyle.css' />
  <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.slim.min.js"></script>
</head>

<body style="width:100%;height:912px;">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle blur1"></div>
  <div class="circle-border circle-border1"></div>
  <div class="circle-border circle-border2"></div>
  <div class="circle-border circle-border3"></div>
  <div class="cross cross1"></div>
  <div class="cross cross2"></div>
  <div class="cross cross3"></div>
  <div class="dots dots1"><i></i><i></i><i></i><i></i><i></i><i></i></div>
  <div class="dots dots2"><i></i><i></i><i></i><i></i><i></i><i></i></div>
  <div class="dots dots3"><i></i><i></i><i></i><i></i><i></i><i></i></div>
  <div class="circle blur2"></div>
  <div class="wrapper">
    <div class="nav">
      <div class="left">
        <div><img src="/images/star.jpg" /></div>
        谜亚星的花园
      </div>
      <div class="middle">
        <input type="text" placeholder="我还没有想好让你搜什么">
      </div>
    </div>
    <span class="menu"></span>

    <div class="title">
      <h1>Click the burger icon to see the menu !</h1>
    </div>

    <div class="overlay">
      <ul>
        <li><a href="/index">首页</a></li>
        <li><a href="/demo">示例demo</a></li>
        <li><a href="/example">案例</a></li>
        <li><a href="/game">小游戏</a></li>
      </ul>
    </div>

  </div>
  <script src="/js/index.js"></script>
</body>

</html>