<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        //模拟生成相同的随机数字
        function getRandom(){
            var random = Math.random();
            return function(){
                console.log(random);
            }
        }

        var resFn = getRandom();
        resFn();
        resFn();
        resFn();
        resFn();
        resFn();
    </script>
</body>
</html>