<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    div{
        width: 700px;
        height: 474px;
        background: url(star.jpg),url(images/car.jpg);
        background-repeat: repeat,no-repeat;
        background-size: 40% 40%,100% 100%;
        animation: sno 4s infinite linear;
    }
    @keyframes sno{
        0%{
            background-position-y: 0px,0px;
        }
        100%{
            background-position-y: 1000px,0px;
        }
    }
    
    </style>
</head>
<body>
    <div>

    </div>
</body>
</html>