<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }


        .box {
            width: 400px;
            margin: 20px auto;
        }

        .box ul {
            height: 35px;
            line-height: 35px;
        }

        .box ul li {
            float: left;
            list-style: none;
            width: 50px;
            margin-right: 20px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border: 1px solid red;
            border-bottom: none;
        }

        .box div {
            width: 398px;
            border: 1px solid red;
            height: 398px;
            display: none;
        }

        .box li.active {
            background-color: red;
        }

        .box div.active {
            display: block;
        }
    </style>
</head>

<body>
    <div id="box1" class="box">
        <ul>
            <li class="active">HTML</li>
            <li>CSS</li>
            <li>JS</li>
        </ul>
        <div class="active">HTML</div>
        <div>CSS</div>
        <div>JS</div>
    </div>
    <script>
        var box1 = document.getElementById("box1");
        var oLis = box1.getElementsByTagName("li");
        var oDivs = box1.getElementsByTagName("div");

        //绑定事件
        for (let i = 0; i < oLis.length; i++) {
            //(function (i) { //使用了一个自执行函数
                oLis[i].onclick = function () {
                    tabChange(i);
                }
            //})(i);
        }

        //实现选项卡切换的核心功能
        function tabChange(curIndex) {
            // 先把所有的激活样式都清空
            for (var i = 0; i < oLis.length; i++) {
                oLis[i].className = "";
                oDivs[i].className = "";
            }
            //然后再让当前这个li和对应那个DIV有激活样式
            oLis[curIndex].className = "active";
            oDivs[curIndex].className = "active";
        }
    </script>
</body>

</html>