<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <style type="text/css">
    /*此处写代码*/
    *{
        margin:0;
        padding:0;
        list-style:none;
        text-decoration:none;
     }
     img{display:block;}
     .top,.bottom{width:100%;height:100px;background-color:black;}
     .logo{float:left;}
     .list{float:right;}
     .list-ul{line-height:100px;}
     .list-ul li{
        display:inline-block;
        margin-right:20px;
        color:#fff;
    }
    .bottom{text-align:center; line-height:100px;}
    ul a,.bottom a{padding:0px 25px; display:inline-block;line-height:100px;color:#fff;}
    .one{width:100%;height:330px;background-color:#ADD8E6;}
	.left{float: left;width: 25%;height: 300px;padding-left: 20px; padding-top: 30px;}
	.right{float: left;width: 25%;height: 300px;padding-left: 20px; padding-top: 30px;}
	h1{font-size: 22px; font-family: "微软雅黑";height: 2em;line-height: 2em;  }
	span{background: #CC3333;margin-right:20px;}
	.left a,.right a{margin-right: 20px;color: #000;}
	.left div{line-height: 30px;}
	.right21{width:2px;height:330px;background-color:orange;float:left;}
	.right22{float:left;}
     h2{margin-left: 60px;margin-top: 40px;}
     .rightform{margin-left: 60px;margin-top: 0px;}
     input{width: 280px;height: 30px;color:#999;margin-top: 20px;}
     input.btn{border-style: none;background: red;}
  </style>
</head>
<body>
  <!-- 此处写代码 -->
  <div class="top">
      <div class="logo">
         <a href="#"><img src="http://climg.mukewang.com/58c0d2d900016ce303000100.png"></a>
      </div>
      <div class="list">
          <ul class="list-ul">
              <li><a href="#">课程</a></li>
              <li><a href="#">职业路径</a></li>
              <li><a href="#">实战</a></li>
              <li><a href="#">猿问</a></li>
              <li><a href="#">手记</a></li>
          </ul>
      </div>
  </div>
  <div class="one">
      <div class="left">
      <h1>课程推荐</h1>
      <div><span>职业路径</span> <a href="#">HTML5与CSS3实现动态网页</a></div>
      <div><span>职业路径</span> <a href="#">零基础入门Android语法与界面</a></div>
      <div><span>职业路径</span> <a href="#">IOS基础语法与常用控件</a></div>
      <div><span>职业路径</span> <a href="#">PHP入门开发</a></div>
      <div><span>职业路径</span> <a href="#">JAVA入门开发</a></div>
      </div>
      <div class="right">
      <h1>相关课程</h1>
      <div><a href="#">HTML</a><a href="#">css</a><a href="#">javascript</a></div>
      <div><a href="#">html5</a><a href="#">css3</a><a href="#">jquery</a></div>
      <div><a href="#">移动端基础</a><a href="#">移动端APP开发</a></div>
      </div>
  <div class="right2">
	<div class="right21"></div>
	<div class="right22">
	  <h2>登录</h2>
                <form class="rightform">
                    <input type="text" name="" placeholder="请输入登录邮箱/手机号">
                    <br/>
                    <input type="text" name="" placeholder="6-16位密码，区分大小写，不能用空格">
                    <br/>
                    <input class="btn" type="submit" name="" value="登录">              
                </form>
	</div>
  </div>
</div>
  <div class="bottom">
    <a href="#">1</a>  
    <a href="#">2</a>  
    <a href="#">3</a>  
    <a href="#">4</a>    
  </div>
</body>
</html>